@page
@model RazorDyreInternat.Pages.DyrModel
@{
}

<link rel="stylesheet" href="~/css/DyrPage.css" asp-append-version="true" />

<input type="search" name="Dyr" value="Søg efter dyretype" />
<button class="button">Søg</button>
