@page
@model IndexModel
@{
    ViewData["Title"] = "Hjemmeside";
}

<link rel="stylesheet" href="~/css/ImageBanner.css" asp-append-version="true" />

@* <h1 class="banner-title">Welcome til Roskilde dyrinternat</h1> *@

<div class="banner">
    <div class="slides">
        <img src="~/images/0016082668c6ec81854ab91c16ae22ba.jpg" alt="Image 1">
        <img src="~/images/0ea53a454018222e67692e284f7264c7.jpg" alt="Image 2">
        <img src="~/images/0e4b34b9a0f8043c957b60d692063204.jpg" alt="Image 3">
        <img src="~/images/213efa7f4da2b2e67a5b7417508066f3.jpg" alt="Image 4">
        <img src="~/images/253b21c0775952d934b24da73c2ac479.jpg" alt="Image 5">
        <img src="~/images/32b5cc5c34b71fcacd00406eb989a7b9.jpg" alt="Image 6">
        <img src="~/images/3752da0c00b9b2874711a6f7281c5fa8.jpg" alt="Image 7">
        <img src="~/images/745b94112c999a48e9c4519759194af1.jpg" alt="Image 8">
    </div>
</div>


<div class="text-box">
    <h1 class="banner-title2">Welcome til Roskilde dyrinternat</h1>
    <br>
    Roskilde Internat er et internat for familiedyr. Internatet ligger i udkanten af byen i rolige, landlige omgivelser med skov og grønne marker.
    <br>
    <br>
    Internatet modtager, rehabiliterer og formidler kæledyr, som mangler en ejer. Dyrene indleveres af politiet, Falck, private mennesker eller Dyrenes Beskyttelses kredsformænd, 
    og typisk drejer sagerne sig om hunde, katte, kaniner, gnavere og andre smådyr.
    <br>
    <br>
    Internatet byder på nye og moderne faciliteter, som omfatter flere store hundefolde, agility og aktivitetsfolde, hvor hunde kan socialiseres og aktiveres. 
    Kattene har alle store bokse og dejlige friarealer med fælles legetøj.
</div>
    
