@page
@model IndexModel
@{
    ViewData["Title"] = "Hjemmeside";
}

<link rel="stylesheet" href="~/css/ImageBanner.css" asp-append-version="true" />

<div class="banner">
    <div class="slides">
        <img src="~/images/0016082668c6ec81854ab91c16ae22ba.jpg" alt="Image 1">
        <img src="~/images/0ea53a454018222e67692e284f7264c7.jpg" alt="Image 2">
        <img src="~/images/0e4b34b9a0f8043c957b60d692063204.jpg" alt="Image 3">
        <img src="~/images/213efa7f4da2b2e67a5b7417508066f3.jpg" alt="Image 4">
        <img src="~/images/253b21c0775952d934b24da73c2ac479.jpg" alt="Image 5">
        <img src="~/images/32b5cc5c34b71fcacd00406eb989a7b9.jpg" alt="Image 6">
        <img src="~/images/3752da0c00b9b2874711a6f7281c5fa8.jpg" alt="Image 7">
        <img src="~/images/745b94112c999a48e9c4519759194af1.jpg" alt="Image 8">
    </div>
</div>

<div class="container-text">
<div class="text-box">
    <h1 class="banner-title2"> Welcome til Roskilde dyrinternat</h1>
    <br>
    <p> 
        Roskilde Internat er et internat for familiedyr. Internatet ligger i udkanten af byen i rolige,
        landlige omgivelser med skov og grønne marker.
    </p>
    <br>
    <br>
        <p>
            Internatet modtager, rehabiliterer og formidler kæledyr, som mangler en ejer. Dyrene indleveres af politiet,
            Falck, private mennesker eller Dyrenes Beskyttelses kredsformænd,
            og typisk drejer sagerne sig om hunde, katte, kaniner, gnavere og andre smådyr.
        </p>
    <br>
    <br>
        <p>
            Internatet byder på nye og moderne faciliteter, som omfatter flere store hundefolde, agility og aktivitetsfolde,
            hvor hunde kan socialiseres og aktiveres.
            Kattene har alle store bokse og dejlige friarealer med fælles legetøj.
        </p>
</div>

<div class="text-box-right">
        <h1 class="banner-title"> Er du interesseret i at adoptere en kat eller et andet mindre familiedyr?</h1>
       <br>
        <p>

            Ring venligst på telefonnummer 12 34 56 78 og lav en aftale inden for vores åbningstider.
            Dette gælder også alle smådyr såsom kaniner, marsvin og fugle.
            Når du booker tid, har vi mulighed for at begrænse ventetiden.
        </p>
    <br>
        <h1 class="banner-title">Er du interesseret i hund?</h1>
        <br>
        <p>
            Her på vores hjemmeside kan du se og læse om de hunde, vi har til adoption.
            Er der en, der kunne være et match til dig, så ring til os. 
            Så tager vi et telefonisk interview - altså en snak om, hvad vi forventer, og hvad du kan tilbyde.
            Det er IKKE muligt at se hundene uden en aftale, da vi gerne vil holde hundeafdelingen så meget som muligt i ro.
        </p>
</div>
</div>

<div class="spacer">

</div>

<div class="container-text">
    <div class="text-info">
        <h3 class="h3-center">Adresse</h3>
    <br>
    <p>
        Roskilde Internat Darupvej 131
        <br>
        4000 Roskilde
    </p>
        <img src="~/images/roskilde luftfoto (4).jpg" style="width: 300px; height: auto; border-radius: 10%" />
     
</div>

    <div class="text-info">
        <h3 class="h3-center">Kontakt</h3>
    <br>
    <p>
        <p>Tel. 12 34 56 78</p>
        Telefontid alle dage fra 10:00 - 16:00 
        <br>
        <br>
        (Lukket mellem 12:00 - 13:00)
        <br>
        <br>
        Mail: roskilde@dyrenesbeskyttelse.dk
    </p>
</div>

    <div class="text-info">
        <h3 class="h3-center">Åbningstider</h3>
    <br>
    <p>
        Lørdag - torsdag
        <br>
        10:00 - 16:00
        <br>
        <br>
        Fredag
        <br>
        10:00 - 18:00
        <br>
        <br>
        (Lukket mellem 12:00 - 13:00 alle dage)
        <br>
        <br>
        Ankomst for pensionshunde
        <br>
        10:00 - 17:00
    </p>
</div>
</div>