@page
@model IndexModel
@{
    ViewData["Title"] = "Hjemmeside";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til Roskilde Dyreinternat</h1>
    <img src="images/0016082668c6ec81854ab91c16ae22ba.jpg" alt="Dyr foto" />
</div>
