body {
}

.text-box {
    padding: 25px; /* Add space inside the box */
    width: 550px;
    background-color: #7E0D00;
    text-align: left; /* Aligns text to the left */
    margin-left: 0px; /* Moves the box to the left */
    font-family: Arial;
    font-weight: 400;
    letter-spacing: 0,3px;
    font-size: 16px;
    line-height: 1.5;
    color: #F5F0E6;
}

.footer {
    background-color: #f8f8f8;
    text-align: left;
    padding: 1px;
    position: absolute;
}

.spacer {
    height: 70px; /* Extra scroll space */
}

.banner-title2 {
    text-align: center;
    font-family: Arial Rounded MT;
    font-weight: bold;
    font-size: 30px;
    color: #F5F0E6;
    margin-top: 15px;
    margin-bottom: 15px;
}

/*.banner-title {
    text-align: center;
    font-family: Arial Rounded MT;
    font-weight: bold;
    font-size: 2rem;
    color: #7E0D00;
    margin-bottom: 20px;
}*/

.banner {
    width: 100%;
    overflow: hidden;
}

.slides {
    display: flow;
    width: 800%; /* Adjust based on the number of images */
    animation: slideShow 50s infinite; /* timing*/
}

.slides img {
        
     height: 20vw;
     width: auto; /* Each image takes full viewport width */
}

@keyframes slideShow {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-2vw);
    }

    40% {
        transform: translateX(-27vw);
    }

    60% {
        transform: translateX(-60vw);
    }

    80% {
        transform: translateX(-75vw);
    }

    100% {
        transform: translateX(0);
    }
}